/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Header ***********/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.logo {
    max-height: 19px;
    padding: 30px 50px;
}

.list-navigation {
    width: 344px;
    height: 35px;
    display: flex;
}

.item-hébergements {
    margin: 0px 69px 0px 50px;
}

.item-activités {
    margin: 0px 50px 0px 0px;
}

.item-navigation {
    list-style-type: none;
    padding: 16px 0px 0px 0px;
}

.item-navigation:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding: 14px 0px 0px 0px;
    /* Ce padding top = padding sans le hover - hauteur de la bordure bleu du hover :
    on évite ainsi le décalage de pixel lors du survol de la souris! A modifier avec précaution*/
}



/****** Info-group ***********/
.info-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/****** Headline ***********/
h1 {
    font-size: 22px;
    margin-bottom: 8px;
}

/****** Search bar ***********/
.search-bar {
    height: 49px;
    width: 377px;
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.location-dot {
    width: 50px;
    min-width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    display: grid;
    place-items: center;
}

.fa-location-dot {
    color: black;
}

.search-text {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: black;
    padding: 14px 0px 14px 24px;
    border: solid 1px #F2F2F2;
    flex: 1;
    min-width: 100px;
}

.button-text {
    width: 132px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    border: solid 1px #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 0px 16px;
}

.button-icon {
    display: none;
    width: 49px;
    height: 49px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background-color: #0065FC;
    border: solid 1px #0065FC;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.fa-magnifying-glass {
    width: 17px;
    height: 17px;
}

/****** Filter bar ***********/
.filter-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.filter-bar-title {
    font-size: 18px;
}

.filter-bar-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.filter-bar-item {
    height: 46px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0px 19px;
    border: solid 2px #D9D9D9;
    border-radius: 25px;
}

.filter-bar-item a {
    display: flex;
    flex-wrap: nowrap;
}

.filter-bar-item i {
    margin-right: 10px;
}

.filter-bar-item:hover {
    background-color: #DEEBFF;
}

/****** Info-bar ***********/
.info-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    margin-top: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.hebergements-cards .card {
    width: 30%;
    display: flex;
    flex-flow: column nowrap;
    justify-items: space-evenly;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.hebergements-cards img {
    height: 114px;
    /*Attention à la bordure de 5px */
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 5px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 10px;
    margin: 4px 0px 10px 0px;
}

.hebergements-cards .card-txt {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    gap: 8px;
}

.hebergements-cards .card-title {
    font-size: 16px;
}

.hebergements-cards .card-subtitle {
    font-size: 14px;
}

.afficher-plus {
    font-size: 18px;
    margin-bottom: 2.5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/****** Activités ***********/
.activités {
    padding: 30px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nav-activités {
    font-size: 22px;
}

.activités-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.activités-card .card {
    width: 23%;
    height: 439px;
    padding: 0px;
    /*Suppression du padding des autres card */
    box-shadow: 0px 3px 15px 0px #0000001A;
    display: grid;
}

.activités-card a {
    display: grid;
}

.activités-card .card-image {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activités-card .card-content {
    height: 59px;
    display: flex;
    align-items: center;
}

.activités-card .card-title {
    font-size: 16px;
    padding: 0px 20px;
}



/****** Footer ***********/
footer {
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 35px;
}

.footer-block {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.footer-title {
    font-size: 18px;
}

.footer-list {
    list-style-type: none;
    font-size: 16px;
    display: grid;
    gap: 15px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /* Filter bar */
    .filter-bar {
        flex-flow: column nowrap;
        align-items: flex-start;
        gap: 20px;
    }

    .filter-bar-item {
        font-size: 16px;
    }

    /* Hébergement et populaire */
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements,
    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 32%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /* Activités à Marseille */
    .activités-card .card {
        height: 270px;
    }

    .activités-card .card-image {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /* Général */
    .main-container {
        padding: 0px;
        /*Suppression des marges latérales*/
    }

    .hebergements-cards,
    .populaires-cards,
    .activités-card,
    footer {
        flex-flow: column nowrap;
        /*Changement de direction d'affichage des principales sections*/
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        /*Changement d'ordre d'affichage des sections "hébergements" et "populaires*/
    }


    /* Header */
    header {
        /*Changement d'affichage des éléments du header*/
        flex-direction: column;
        align-items: center;
    }

    .logo {
        padding: 30px;
        /*Inutile : uniquement pour coller avec la maquette*/
    }

    .menu,
    .list-navigation {
        width: 100%;
    }

    .list-navigation a {
        width: 50%
    }

    .item-navigation {
        text-align: center;
        margin: 0px;
        padding: 0px 0px 15px 0px;

    }

    .item-navigation:hover {
        border-top: none;
        border-bottom: solid 2px #0065FC;
        padding: 0px 0px 13px 0px;
    }

    /* Info-group */
    .info-group {
        padding: 0px 30px;
    }

    /* Search bar */
    .search-bar {
        width: 100%;
        min-width: calc(320px - 2*30px)
    }

    .search-text {
        padding: 14px 25px 14px calc((24 / 315) * 100%);
        overflow-x: scroll;
        text-overflow: ellipsis;
        margin-right: -25px;
        /*Etend la bordure à l'élément suivant*/
    }

    .button-text {
        display: none;
    }

    .button-icon {
        display: inline-block;
        height: 49px;
    }

    /* Filter bar */
    .filter-bar-list {
        flex-flow: row wrap;
        justify-content: center;
        gap: 10px;
        row-gap: 15px;
    }

    .filter-bar-list a {
        width: 48%;
        min-width: 145px;

    }

    .filter-bar-item {
        font-size: 14px;
    }

    /*Info-bar*/
    .info-bar {
        gap: 3px;
    }

    /* Hébergement et populaire */
    .hebergements-and-populaires {
        margin: 35px 0px;
        gap: 15px;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    /*Populaire*/
    .hebergements-and-populaires .populaires {
        margin: 0px;
        padding: 30px 20px;
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards a {
        height: 100%;
        width: 100%;
    }

    .populaires-cards,
    .hebergements-cards {
        gap: 15px;
    }


    /*Hébergements*/
    .hebergements-and-populaires .hebergements {
        padding: 20px;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .hebergements-cards .card {
        width: calc(100% - 10px);
    }

    /* Activités */
    .activités-card {
        gap: 15px;
    }

    .activités-card .card {
        width: 100%;
        height: 200px;
    }

    .activités-card .card-image {
        height: 141px;
    }

    /* Footer */
    footer {
        padding: 30px;
        gap: 50px;
    }

    .footer-block {
        width: 80%;
        padding: 0px;
    }
}